.external-link {
  height: 0.75em;
  width: 0.75em;
}

.external-link:hover,
.external-link:active,
.external-link:focus {
  filter: invert(15%) sepia(93%) saturate(7104%) hue-rotate(359deg)
    brightness(99%) contrast(107%);
}

.shelf {
  display: flex;
  flex-wrap: wrap;
}

.shelf div {
  margin: 0.5em;
  padding: 0.25em 0.5em;
  border: solid 1px black;
}
