.external-link {
  height: 0.75em;
  width: 0.75em;
}

.external-link:hover,
.external-link:active,
.external-link:focus {
  filter: invert(15%) sepia(93%) saturate(7104%) hue-rotate(359deg)
    brightness(99%) contrast(107%);
}

.shelf-new div {
  margin: 0.5em;
}

:root {
  --light-bg: #ececec;
  --light-bg-dark-shadow: #bbb;
  --light-bg-light-shadow: #f4f4f4;
  --dark-bg: #353535;
  --dark-bg-dark-shadow: #2d2d2d;
  --dark-bg-light-shadow: #3d3e3e;
  --primary: #f2f2f4;
  --primary-dark: #fbfbfb;
  --primary-light: #fff;
}
